@import "_zero.scss";
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,700);

body {
   font-family: Montserrat;
   color: #fff;
}

.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
// =================== header ===================================== //
.header {
   min-height: 60px;
   background: rgba(5, 5, 5, 0.733);
   padding: 20px;
   @media (max-width: 768px) {
      padding: 10px;
   }
   &__search {
      position: relative;
      width: 330px;
   }
   &__input {
      width: 100%;
      border-radius: 5px;
      padding: 10px 0 10px 10px;
      font-size: 16px;
      background: rgb(109, 109, 109);
      border: 2px solid #f6f3f3;
      color: #fff;
      outline: none;
      transition: 0.3s ease;
      overflow: hidden;
      &::placeholder {
         color: #fff;
         font-size: 16px;
      }
      &:hover {
         background: rgb(63, 63, 63);
      }
      &:focus {
         background: rgb(63, 63, 63);
      }
   }
   &__button {
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
      background-color: #f6f3f3;
      height: 43px;
      width: 40px;
      padding: 7px;
      border-radius: 0 5px 5px 0px;
      transition: 0.3s ease;
      @media (min-width: 786px) {
         &:hover {
            width: 50px;
         }
      }

      @media (max-width: 768px) {
         width: 50px;
      }
   }
   &__cross {
      position: absolute;
      display: none;
      top: 6%;
      right: 40px;
      pointer-events: none;
      padding: 7px 7px 7px 7px;
      background: transparent;
      @media (max-width: 768px) {
         right: 60px;
      }

      img {
         pointer-events: all;
         transition: 0.3s ease;
         &:hover {
            transform: scale(1.25);
         }
      }
   }
   &__container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
   }
   &__top {
      padding: 10px;
      background: rgba(114, 114, 114, 0.589);
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
         color: rgba(0, 0, 0, 0.884);
         background: rgba(161, 161, 161, 0.589);
      }
   }
}
.container {
   max-width: 1440px;
   margin: 0px auto;
   padding: 0px 20px;
}
// =================== header ===================================== //
// =================== main ======================================= //
.movie {
   background: rgba(114, 114, 114, 0.589);
   padding: 40px 0 20px 0;
   flex: 1 1 auto;
   &__row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -10px;
   }

   &__column {
      width: 355px;
      padding: 0 10px;
      margin-bottom: 20px;
      display: flex;
   }

   &__item {
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
   }

   &__back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: rgb(255, 255, 255);
      display: block;
      background-color: rgba(100, 84, 84, 0.884);
      backdrop-filter: blur(5px);
      transform: translateX(100%);
      transition: 0.5s;
      padding: 10px;
      line-height: 1.5;
      overflow:auto;
   }

   &__back-review {
      font-size: 24px;
      margin-bottom: 20px;
      font-weight: bold;
   }

   &__img {
      flex: 1 1 auto;
      max-width: 100%;
   }
   &__footer {
      padding: 15px 10px;
      min-height: 150px;
      background: rgba(20, 20, 20, 0.699);
      @media (max-width: 768px) {
         display: flex;
         flex-direction: column;
      }
   }
   &__name {
      border: 2px solid #f6f3f3;
      min-height: 50px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 5px 5px;
      background: rgba(58, 51, 51, 0.678);
      color: #fff;
      font-size: 16px;
      border-radius: 10px;
      margin-bottom: 10px;
   }
   &__release-number {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
   }
   &__number {
      padding: 10px 10px;
      background: rgba(58, 51, 51, 0.678);
      max-width: 50px;
      text-align: center;
      border-radius: 10px;
      margin-right: auto;
      color: rgba(48, 241, 10, 0.938);
   }
   &__release-date {
      padding: 10px 10px;
      background: rgba(58, 51, 51, 0.678);
      text-align: center;
      border-radius: 10px;
      letter-spacing: 2;
      color: rgb(214, 255, 205);
   }
   &__button {
      background: rgba(58, 51, 51, 0.678);
      padding: 10px 5px;
      border-radius: 10px;
      transition: 0.3s ease;
      color: inherit;
      position: relative;
      z-index: 100;
      @media (min-width: 768px) {
         &:hover {
            color: #fff;
            background: rgba(110, 101, 101, 0.733);
         }
      }
   }
}
// =================== main ======================================= //
// =================== footer ===================================== //
.footer {
   background-color: rgb(126, 123, 123);
   &__wrap {
      min-height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 500px) {
         flex-direction: column;
         padding: 20px 0;
      }
   }
   &__year {
   }

   &__git {
      transition: 0.3s ease;
      a {
         color: inherit;
         font-weight: bold;
      }

      @media (min-width: 768px) {
         &:hover {
            color: aquamarine;
         }
      }
   }

   &__school {
      transition: 0.3s ease;
      width: 100px;
      height: 37.13px;
      @media (max-width: 500px) {
         margin: 10px 0;
      }
      &:hover {
         transform: scale(1.05);
      }
   }
   &__logo {

      img {
         transition: 0.3s ease;
         &:hover {
            transform: scale(1.1);
         }
      }
   }
}
// =================== footer ===================================== //

.none {
   display: none;
}

.active {
   transform: translateX(0%);
}
.cross-active {
   display: inline-block;
}
