//====import-files========================================//
@import "_zero-style";
@import "_fonts";
@import "_mixin";

// ========icon-style-footer template=================================== //
%icon-style-footer {
   width: 32px;
   height: 32px;
   transition: 0.3s;
   fill: #ffffff;
   @media (min-width: 769px) {
      &:hover {
         fill: #bdae82;
      }
   }
}
// ============================================================== //

//========================================================//
body {
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   font-family: Inter;
   background-color: #000;
}

.wrapper {
   overflow: hidden;
   max-width: 1440px;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   margin: 0px auto;
   color: #ffffff;
}

//------Repeat blocks-------------------------------------//
.container {
   max-width: 1440px;
   margin: 0px auto;
   padding: 0 20px;
   @media (max-width: $mW3) {
      max-width: 768px;
      padding: 0 64px 0 60px;
   }
   @media (max-width: 620px) {
      padding: 0 20px;
   }
}

.btn-link {
   position: relative;
   overflow: hidden;
   font-size: 20px;
   font-weight: 400;
   color: #000;
   min-height: 55px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-size: 200% auto;
   background-image: linear-gradient(to right, #f6d365 0%, #f1f1f1 51%, #f6d365 100%);
   padding: 7px 0px;
   max-width: 220px;
   min-width: 220px;
   transition: 0.3s;
   @media (min-width: 769px) {
      &:hover {
         background-position: right center;
         transform: translateY(-2px);
      }
   }
}

.title-gold {
   text-align: center;
   // overflow-x: hidden;
   background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
   max-width: 700px;
   margin: 0px auto;
   @media (max-width: $mW3) {
      max-width: 364px;
   }
   @media (max-width: $mW3) {
      background-image: linear-gradient(to top, #000 22px, #bdae82 22px, #bdae82 24px, #000 24px);
   }
   h2 {
      position: relative;
      max-width: 150px;
      margin: 0px auto;
      padding: 0 10px;
      background-color: #000;
      font-size: 40px;
      line-height: 2;
      font-weight: bold;
      color: #bdae82;
      font-family: Merriweather;
      @media (max-width: $mW3) {
         font-size: 32px;
         line-height: 1.4;
         max-width: 130px;
      }
   }
}

// .subtitle-card {
// }
//--------------------------------------------------------//

//=====header=============================================//
.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 2;
   &__container {
      display: flex;
      align-items: center;
      min-height: 90px;
   }

   &__logo {
      margin-right: 20px;
      @media (max-width: $mW3) {
         margin-right: auto;
      }
      &.back {
         opacity: 0.5;
         pointer-events: none;
      }
   }

   &__logo-icon {
      max-width: 50px;
      max-height: 40px;
      transition: 0.3s;
      fill: #ffffff;
      @media (min-width: 769px) {
         &:hover {
            fill: #bdae82;
         }
      }
   }

   &__change {
      background: transparent;
      margin-left: 20px;
   }

   &__icon-change {
      max-width: 40px;
      max-height: 40px;
      transition: 0.3s;
      fill: #ffffff;
      @media (min-width: 769px) {
         &:hover {
            fill: #bdae82;
         }
      }
   }

   &__svg-icon-white {
      display: block;
      &.white-icon {
         display: none;
      }
   }

   &__svg-icon-dark {
      display: none;
      &.dark-icon {
         display: block;
      }
   }
   // ================================ Style menu burger ============================ //

   &__icon {
      display: none;
      &.active {
         .center {
            transform: scale(0) translate(0px, 50%);
         }
         .before {
            top: 45%;
            transform: rotate(-45deg);
         }
         .after {
            top: 45%;
            transform: rotate(45deg);
         }
      }
      @media (max-width: $mW3) {
         z-index: 10;
         display: block;
         position: relative;
         width: 50px;
         height: 28px;
         cursor: pointer;
         order: 1;
         margin-left: 20px;
      }
      .before {
         right: 0;
         position: absolute;
         height: 10%;
         width: 100%;
         transition: all 0.3s ease 0s;
         background: #ffffff;
         top: 0;
         &.elem-icon {
            background: #000;
         }
      }
      .after {
         right: 0;
         position: absolute;
         height: 10%;
         width: 100%;
         transition: all 0.3s ease 0s;
         background: #ffffff;
         bottom: 0;
         &.elem-icon {
            background: #000;
         }
      }
      .center {
         top: 40%;
         transform: scale(1) translate(0px, 50%);
         right: 0;
         bottom: 0;
         left: 0;
         position: absolute;
         height: 10%;
         width: 100%;
         transition: all 0.3s ease 0s;
         background: #ffffff;
         &.elem-icon {
            background: #000;
         }
      }
   }

   &__nav {
      margin-left: auto;
      @media (max-width: $mW3) {
         position: fixed;
         top: 0;
         right: -100%;
         width: 620px;
         height: 100%;
         background: rgb(0, 0, 0);
         transition: right 0.5s ease 0s;
         overflow: auto;
         @media (max-width: 620px) {
            display: flex;
            justify-content: center;
            width: 100%;
         }
      }

      &.active {
         right: 0;
      }
   }
   // ================================ Style menu burger ============================ //
   &__nav-list {
      display: flex;
      flex-wrap: wrap;
      @media (max-width: $mW3) {
         padding: 134px 30px 0 127px;
         display: block;
         flex-wrap: nowrap;
      }
      @media (max-width: 620px) {
         padding: 134px 20px 0 20px;
      }
      li {
         @media (max-width: $mW3) {
            margin-bottom: 16px;
         }
      }
      li:nth-child(3){
         color: red;
         animation: scale 1s ease-in infinite;
      }
      @keyframes scale {
         0% {
            transform: scale(1);
         }
         50% {
            transform: scale(1.2);
         }
         100% {
            transform: scale(1);
         }
      }
   }

   &__nav-link {
      font-size: 20px;
      line-height: 2.5;
      color: inherit;
      transition: 0.3s;
      margin-left: 30px;
      @media (min-width: 768px) {
         &:hover {
            color: #bdae82;
            cursor: pointer;
         }
      }
      @media (max-width: 830px) {
         margin-left: 15px;
      }
      @media (max-width: $mW3) {
         line-height: 2.08;
         font-size: 35px;
         margin-left: 0px;
         // @include adaptiv-value("font-size", 50, 25, 1.1);
      }
   }

   &__buttons-lang {
      margin-left: 30px;
      font-weight: bold;
      font-size: 20px;
      span {
         margin: 0 4px 0 4px;
         color: inherit;
      }
   }
   &__lang {
      color: inherit;
      transition: 0.3s;
      cursor: pointer;
      @media (min-width: 769px) {
         &:hover {
            color: #bdae82;
         }
      }
      &.active {
         color: #bdae82;
      }
   }
}
//========================================================//

//=====main===============================================//
.main {
   flex: 1 1 auto;
}

//-----------------section-hero---------------------------//
.hero {
   position: relative;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   z-index: 1;
   &__main-screen {
      padding-top: 63.2%;
      @media (max-width: $mW3) {
         @media (max-width: 550px) {
            &:after {
               content: "";
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               background: rgba(0, 0, 0, 0.301);
            }
         }
      }
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: left;
         @media (max-width: $mW3) {
            object-position: left;
            margin-top: -27px;
         }
         @media (max-width: 550px) {
            object-position: center;
         }
      }
   }
   &__block {
      position: relative;
      z-index: 100;
      padding: 85px 20px 160px 80px;
      max-width: 570px;
      *:last-child {
         margin-bottom: 0;
      }
      @media (max-width: 1400px) {
         padding: 160px 20px 160px 80px;
      }
      @media (max-width: $mW3) {
         padding: 170px 20px 175px 60px;
         max-width: 500px;
      }
      @media (max-width: 620px) {
         padding: 170px 20px 179px 20px;
      }
   }

   &__title {
      font-family: Merriweather;
      font-weight: bold;
      font-size: 60px;
      line-height: 2;
      margin-bottom: 10px;
      color: inherit;
      @media (min-width: $mW3) {
         @include adaptiv-value("font-size", 60, 48, 1);
      }
      @media (max-width: $mW3) {
         line-height: 2;
         letter-spacing: 1.1px;
         font-weight: normal;
         margin-bottom: 23px;
         @include adaptiv-value("font-size", 32, 28, 1.1);
      }
   }

   &__subtitle {
      color: inherit;
      font-size: 20px;
      line-height: 2;
      margin-bottom: 25px;
      @media (max-width: $mW3) {
         line-height: 1.2;
         margin-bottom: 60px;
      }
   }
}

//--------------------------------------------------------//

//-----------------section-skills-------------------------//
.skills {
   position: relative;
   z-index: 1;
   padding: 100px 0 10px 0;
   // &__container {
   // }
   @media (max-width: $mW3) {
      padding: 101px 0 10px 0;
      margin-top: -27px;
   }
   &__title {
      margin-bottom: 60px;
      h2 {
         &.title-lang {
            max-width: 220px;
            @media (max-width: $mW3) {
               max-width: 170px;
            }
         }
      }
   }

   &__row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   &__column {
      display: flex;
      justify-content: center;
      flex: 0 1 23%;
      @media (max-width: 1080px) {
         flex: 0 1 47%;
      }
      @media (max-width: $mW3) {
         margin-bottom: 36px;
      }
      @media (max-width: 716px) {
         flex: 0 1 100%;
      }
   }

   &__item {
      text-align: center;
      height: 100%;
      padding: 0 20px 40px 20px;
      max-width: 320px;
      @media (max-width: 1080px) {
         padding: 0 10px 40px 10px;
         max-width: 300px;
      }
   }

   &__icon {
      margin-bottom: 50px;
      @media (max-width: $mW3) {
         margin-bottom: 32px;
      }
   }

   &__item-title {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 2;
      font-weight: bold;
   }

   &__item-subtitle {
      font-size: 18px;
      line-height: 2;
      @media (max-width: $mW3) {
         line-height: 1.2;
      }
   }
}

//--------------------------------------------------------//

//-----------------section-portfolio----------------------//
.portfolio {
   padding: 60px 0 0 0;
   @media (max-width: $mW3) {
      padding: 94px 0 0 0;
   }
   // &__container {
   // }

   &__title {
      margin-bottom: 60px;
      h2 {
         max-width: 230px;
         @media (max-width: $mW3) {
            max-width: 185px;
            margin-bottom: 65px;
         }
         &.title-lang {
            max-width: 300px;
            @media (max-width: $mW3) {
               max-width: 230px;
            }
         }
      }
   }

   &__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 60px;
      column-gap: 5px;
      flex-wrap: wrap;
      @media (max-width: $mW3) {
         margin-bottom: 55px;
      }
   }

   &__btn-link {
      margin-bottom: 5px;
      background-image: linear-gradient(to right, #0a0a0a 0%, #000000 51%, #f6d365 100%);
      color: rgb(255, 255, 255);
      border: 2px solid #bdae82;
      &.light-theme-btn {
         background-image: linear-gradient(to right, #ffffff 0%, #f1f1f1 51%, #f6d365 100%);
         color: #000;
         border: 2px solid #bdae82;
         &:hover {
            background-position: center right;
         }
      }
      &.active {
         background-image: linear-gradient(to right, #f6d365 0%, #f1f1f1 51%, #f6d365 100%);
         color: #000;
      }
   }

   &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -12px;
   }
   &__column {
      display: flex;
      flex: 0 1 33.333%;
      padding: 0 12px;
      margin-bottom: 25px;
      @media (max-width: 950px) {
         flex: 0 1 50%;
      }
      @media (max-width: $mW3) {
         flex: 1 1 100%;
         text-align: center;
         max-width: 475px;
      }
   }
   &__item {
      flex: 1 1 auto;
      padding-top: 123.7%;
      position: relative;
      @media (max-width: $mW3) {
         padding-top: 124.2%;
      }
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         transition: 0.3s;
         @media (min-width: 769px) {
            &:hover {
               transform: scale(1.02, 1.02);
            }
         }
      }
   }
}
// .container {
// }

//--------------------------------------------------------//

//-----------------section-video--------------------------//
.video {
   padding: 70px 20px 0 20px;
   @media (max-width: $mW3) {
      padding: 70px 20px 0 20px;
   }
   &__title {
      margin-bottom: 60px;
      @media (max-width: $mW3) {
         margin-bottom: 68px;
         padding: 0 20px;
      }
   }

   &__player {
      padding-top: 50.7%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      @media (max-width: $mW3) {
         padding-top: 57.5%;
         margin: 0 -20px;
         min-height: 25vh;
      }
      &:hover {
         .controls {
            transform: translateY(0%);
         }
      }
      video {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         @media (max-width: $mW3) {
            object-position: -6px;
         }
      }
   }
   &__btn-player {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
      background: transparent;
      &.view-player {
         display: none;
      }
   }

   &__icon {
      max-width: 130px;
      max-height: 130px;
      transition: 0.3s;
      fill: #ffffff;
      @media (min-width: 769px) {
         &:hover {
            fill: #bdae82;
            transform: scale(0.89);
         }
      }
      @media (max-width: $mW3) {
         max-width: 64px;
         max-height: 64px;
      }
   }
}

//! ----------------- Custom video ----------------- //
.controls {
   position: absolute;
   bottom: 0;
   outline: 0;
   display: none;
   transition: 0.5s;
   align-items: center;
   width: 100%;
   background-color: #bdae82a4;
   padding: 10px 10px;
   touch-action: none;
   @media (max-width: $mW3) {
      padding: 10px 10px;
   }
   @media (min-width: $mW3) {
      transform: translateY(100%);
   }
   &.view {
      display: flex;
      @media (max-width: $mW3) {
         flex-wrap: wrap;
      }
   }
   &__play-icons {
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      max-width: 40px;
      max-height: 40px;
      transition: 0.3s;
      display: block;
      cursor: pointer;
      @media (max-width: $mW3) {
         width: 25px;
         height: 30px;
      }
      &:hover {
         transform: scale(1.1);
      }
   }
   &__volume-icons {
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      max-width: 40px;
      max-height: 40px;
      transition: 0.3s;
      display: flex;
      cursor: pointer;
      margin-right: 5px;
      @media (max-width: $mW3) {
         max-width: 30px;
         max-height: 30px;
      }
      &:hover {
         transform: scale(1.1);
      }
   }
   &__play-icon {
      display: block;
      fill: #f6d365;
      &.change-play {
         display: none;
      }
   }
   &__pause-icon {
      display: none;
      fill: #f6d365;
      &.change-pause {
         cursor: pointer;
         display: block;
      }
   }
   &__volume-icon {
      display: block;
      fill: #f6d365;
      &.change-volume {
         display: none;
      }
   }
   &__mute-icon {
      display: none;
      fill: #f6d365;
      &.change-mute {
         display: block;
      }
   }
   &__time-parents {
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      flex: 0 0 140px;
      padding: 0 10px;
      @media (max-width: $mW3) {
         margin-right: auto;
      }
      @media (max-width: 430px) {
         flex: 0 0 110px;
         padding: 0 5px;
      }
   }
   &__time {
      font-size: 16px;
      padding: 0 5px 0 0;
      white-space: nowrap;
      @media (max-width: $mW3) {
         font-size: 14px;
         padding: 0;
      }
   }
   &__time-video {
      padding: 0 0px 0 5px;
      @media (max-width: $mW3) {
         padding: 0;
         font-size: 14px;
      }
   }
}

//! ----------------- Custom video ----------------- //

//--------------------------------------------------------//

//-----------------section-price--------------------------//
.price {
   padding: 100px 0 100px 0;
   @media (max-width: $mW3) {
      padding: 80px 0 30px 0;
   }
   // &__container {
   // }
   &__title {
      margin-bottom: 58px;
      @media (max-width: $mW3) {
         margin-bottom: 67px;
      }
   }

   &__row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -12.5px;
   }

   &__column {
      padding: 0 12.5px;
      flex: 0 1 33.333%;
      display: flex;
      @media (max-width: 1024px) {
         margin-bottom: 50px;
         flex: 0 1 50%;
      }
      @media (max-width: $mW3) {
         flex: 0 1 100%;
         max-width: 445px;
      }
   }
}

.item-price {
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 1 1 auto;
   border: 3px solid #bdae82;
   padding: 40px 10px;
   *:last-child {
      margin-bottom: 0;
   }
   &__name {
      font-family: Merriweather;
      margin-bottom: 20px;
      font-size: 28px;
      line-height: 2;
      font-weight: bold;
   }

   &__price {
      font-family: Merriweather;
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 2;
      color: #bdae82;
      font-weight: bold;
   }

   &__list {
      margin-bottom: 40px;
      flex: 1 1 auto;
      font-size: 18px;
      line-height: 2;
   }

   // &__btn {
   // }
}

//--------------------------------------------------------//

//-----------------section-contacts-----------------------//
.contacts {
   &__container {
      position: relative;
      @media (max-width: $mW3) {
         &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.315);
         }
      }
      *:last-child {
         margin-bottom: 0;
      }
   }

   &__title {
      font-family: Merriweather;
      color: #bdae82;
      font-size: 40px;
      font-weight: bold;
      line-height: 2;
      margin-bottom: 40px;
      @media (max-width: 768px) {
         text-align: center;
         font-size: 32px;
         margin-bottom: 37px;
      }
   }

   &__image {
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__form-column {
      padding: 60px 20px 195px 20px;
      margin-left: auto;
      position: relative;
      z-index: 3231;
      width: 100%;
      max-width: 490px;
      @media (max-width: $mW3) {
         margin: 0px auto;
         padding: 60px 20px 111px 20px;
      }
   }
}

.form {
   *:not(:last-child) {
      margin-bottom: 17px;
   }

   &__input {
      min-height: 50px;
      padding: 5px 0px 5px 20px;
      background: rgba(0, 0, 0, 0.5);
      border: 2px solid #bdae82;
      width: 100%;
      color: #bdae82;
      font-size: 20px;
      line-height: 2;
      transition: 0.3s ease;
      &::placeholder {
         color: #bdae82;
         font-family: Inter;
         font-size: 20px;
         line-height: 2;
      }
      @media (min-width: 769px) {
         &:hover {
            border: 2px solid #f8f8f8;
         }
      }
      &:focus {
         border: 2px solid #f8f8f8;
      }
   }

   &__area {
      background: rgba(0, 0, 0, 0.5);
      min-height: 100px;
      padding: 5px 0px 0px 20px;
      border: 2px solid #bdae82;
      resize: none;
      width: 100%;
      color: #bdae82;
      font-size: 20px;
      line-height: 2;
      transition: 0.3s ease;
      @media (min-width: 769px) {
         &:hover {
            border: 2px solid #f8f8f8;
         }
      }
      &:focus {
         border: 2px solid #f8f8f8;
      }
      &::placeholder {
         color: #bdae82;
         font-family: Inter;
         font-size: 20px;
         line-height: 2;
      }
   }

   &__button {
      padding: 11px 0 0 0;
      @media (max-width: $mW3) {
         display: flex;
         justify-content: center;
      }
   }

   // &__btn {
   // }
}

//--------------------------------------------------------//

//========================================================//

//=====footer=============================================//
.footer {
   padding: 60px 0;
   @media (max-width: $mW3) {
      padding: 30px 0;
   }
}

.item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   *:last-child {
      margin-bottom: 0;
   }
   @media (max-width: $mW3) {
      flex-direction: column;
   }
   &__data {
      font-size: 20px;
      *:not(:last-child) {
         margin-right: 16px;
      }
      @media (max-width: $mW3) {
         margin-bottom: 18px;
      }
   }

   &__c-element {
      color: inherit;
   }

   // &__year {
   // }

   &__git {
      color: inherit;
      transition: 0.3s;
      @media (min-width: 769px) {
         &:hover {
            color: #bdae82;
         }
      }
   }

   &__text {
      font-size: 20px;
      line-height: 1.2;
      color: inherit;
      transition: 0.3s;
      @media (min-width: 769px) {
         &:hover {
            color: #bdae82;
         }
      }
      @media (max-width: $mW3) {
         margin-bottom: 30px;
      }
   }

   // &__social {
   // }

   &__social-list {
      display: flex;
      *:not(:first-child) {
         margin-left: 20px;
      }
   }

   // &__social-icon {
   // }

   &__icon-inst {
      @extend %icon-style-footer;
   }

   &__icon-face {
      @extend %icon-style-footer;
   }

   &__icon-twit {
      @extend %icon-style-footer;
   }

   &__icon-pinter {
      @extend %icon-style-footer;
   }
}

//========================================================//

.lock {
   overflow: hidden;
   @media (max-width: $mW3) {
      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: rgb(0, 0, 1);
         opacity: 0.5;
         z-index: 2;
      }
   }
}

.body-back {
   background-color: #fff;
}

.light-theme {
   background: #ffffff;
   color: #000;
}

.change {
   @media (max-width: $mW3) {
      background: rgb(255, 255, 255);
   }
}

.theme-list {
   color: #000;
   @media (min-width: 769px) {
      &:hover {
         color: #fff;
      }
   }
}

.title-theme {
   background-image: linear-gradient(to top, #fff 39px, #000 39px, #000 41px, #fff 41px);
   h2 {
      background-color: #fff;
      color: #000;
   }
   @media (max-width: $mW3) {
      background-image: linear-gradient(to top, #fff 22px, #000 22px, #000 24px, #fff 24px);
   }
}

.light-theme-color {
   color: #000;
   fill: #000;
   @media (min-width: 769px) {
      &:hover {
         fill: #000;
      }
   }
}

.light-theme-transofrm-svg {
   @media (min-width: 769px) {
      &:hover {
         transform: scale(1.1, 1.1);
      }
   }
}
.light-theme-transofrm {
   @media (min-width: 769px) {
      &:hover {
         transform: rotate(360deg);
      }
   }
}

.area-theme {
   color: #1c1c1c;
   background: rgba(255, 255, 255, 0.5);
   border: 2px solid #bdae82;
   &::placeholder {
      color: #1c1c1c;
   }
}

.button-theme {
   color: #000;
   background-image: linear-gradient(to right, #f6d365 0%, #f1f1f1 51%, #f6d365 100%);
   @media (min-width: 769px) {
      &:hover {
         background-position: right center;
      }
   }
}

.button-lang {
   color: #000;
   fill: #fff;
   &.active {
      color: #fff;
   }
   &:hover {
      color: #fff;
   }
}

.sub-theme {
   @media (max-width: 550px) {
      color: #fff;
   }
}

input[type="range"] {
   -webkit-appearance: none;
   height: 10px;
   @media (max-width: $mW3) {
      height: 7px;
   }
   background: transparent;
   flex: 0 1 10%;
   margin: 0 5px;
   cursor: pointer;
   @media (max-width: 1024px) {
      flex: 0 1 20%;
   }
   @media (max-width: $mW3) {
      flex: 0 1 50%;
      margin: 0;
   }
   @media (max-width: 430px) {
      flex: 0 1 30%;
   }
   &.controls__progress-bar {
      flex: 0 1 70%;
      margin: 0 20px 0 5px;
      @media (max-width: $mW3) {
         flex: 0 1 100%;
         order: -1;
         transform: translateY(-135%);
         margin: 0;
      }
   }
}
input[type="range"]:focus {
   outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
   width: 100%;
   height: 10px;
   @media (max-width: $mW3) {
      height: 7px;
   }
}
input[type="range"]::-moz-range-track {
   width: 100%;
   height: 10px;
   cursor: pointer;
   @media (max-width: $mW3) {
      height: 7px;
   }
}

input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
   height: 25px;
   width: 10px;
   border-radius: 5px;
   border: 1px solid #000000;
   background: #f6d365;
   cursor: pointer;
   margin-top: -7px;
   @media (max-width: $mW3) {
      height: 20px;
      width: 10px;
      margin-top: -7px;
   }
}
input[type="range"]::-moz-range-thumb {
   -moz-appearance: none;
   height: 25px;
   width: 10px;
   border-radius: 5px;
   border: 1px solid #000000;
   background: #f6d365;
   cursor: pointer;
   margin-top: -7px;
   @media (max-width: $mW3) {
      height: 20px;
      width: 10px;
      margin-top: -7px;
   }
}
