@import url(https://fonts.googleapis.com/css?family=Montserrat:regular);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Montserrat;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #76b8de;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  margin: 0px auto;
  padding: 0 20px;
}

.game {
  padding: 15px 15px;
  border: 5px solid #feffd6;
  border-radius: 20px;
  background: #afdab659;
}

.game__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 434px) {
  .game__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}

.game__score-player-1, .game__score-player-2 {
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid #0085ff;
  height: 30px;
  width: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
}

.game__score-player-2 {
  border: 1px solid #ff0000;
}

.game__name-1, .game__name-2 {
  background-color: #feffd6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 170px;
          flex: 0 1 170px;
  min-height: 45px;
}

@media (max-width: 434px) {
  .game__name-1, .game__name-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

.game__name-1 {
  position: relative;
  padding-right: 40px;
}

.game__name-1::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 10%;
  right: 25px;
  width: 2px;
  height: 40px;
  background-color: #0085ff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.game__name-1::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 10%;
  right: 25px;
  width: 2px;
  height: 40px;
  background-color: #0085ff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.game__name-2 {
  position: relative;
  padding-right: 50px;
}

.game__name-2::before {
  content: "";
  background: url("../assets/img/ellipse.svg") right no-repeat;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 10px;
  width: 100%;
  height: 100%;
}

.game__head-ellipse {
  margin-left: 20px;
  width: 20px;
}

.game__title {
  background-color: #feffd6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  max-width: 320px;
  margin: 0px auto;
  font-size: 20px;
}

@media (max-width: 437px) {
  .game__title {
    width: 100%;
    max-width: none;
  }
}

.game__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  max-width: 350px;
  margin: 0px auto;
  padding-top: 20px;
}

.game__block-span-1 {
  position: absolute;
  background-color: #0085ff;
  height: 70px;
  width: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.game__block-span-2 {
  position: absolute;
  background-color: #0085ff;
  height: 70px;
  width: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.game__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  background-color: #feffd6;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.game__block img {
  width: 70px;
  height: 70px;
}

@media (max-width: 370px) {
  .game__block img {
    width: 60px;
    height: 60px;
  }
}

.game__block:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 437px) {
  .game__block {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 370px) {
  .game__block {
    width: 70px;
    height: 70px;
  }
}

.game__button {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.game__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #feffd6;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 210px;
          flex: 0 1 210px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

@media (max-width: 437px) {
  .game__start {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

.game__home {
  background-color: #feffd6;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.game__refresh {
  background-color: #feffd6;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

.game__table {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 310px;
          flex: 0 1 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #feffd6;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

@media (max-width: 437px) {
  .game__table {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.hello__page {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #76b8de;
}

.hello__title {
  margin-bottom: 20px;
}

.hello__condition-three, .hello__condition-five {
  max-width: 200px;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: #feffd6;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hello__condition-three:hover, .hello__condition-five:hover {
  background-color: #e21d1d;
}

.player-one {
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

.player-one::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -75%;
  right: -30px;
  width: 2px;
  height: 40px;
  background-color: #0085ff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.player-one::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -75%;
  right: -30px;
  width: 2px;
  height: 40px;
  background-color: #0085ff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.player-two {
  margin-bottom: 10px;
  position: relative;
}

.player-two::before {
  content: "";
  background: url("../assets/img/ellipse.svg") right no-repeat;
  display: inline-block;
  position: absolute;
  top: -100%;
  right: -50px;
  width: 100%;
  height: 100%;
  padding: 19px;
}

.input-one,
.input-two {
  max-width: 200px;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 30px;
  background-color: #feffd6;
  border-radius: 10px;
  font-size: 14px;
}

.btn {
  max-width: 100px;
  width: 100%;
  background-color: #feffd6;
  padding: 5px 10px;
  border-radius: 10px;
}

.table {
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #5d84a9bd;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.table__score {
  width: 300px;
  height: 350px;
  background-color: #feffd6;
  border-radius: 10px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px;
}

.table__btn {
  max-width: 100px;
  width: 100%;
  background-color: #fafc9f;
  padding: 5px 10px;
  border-radius: 10px;
}

.happy {
  padding: 0 20px;
  min-height: 100vh;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5d84a9bd;
  gap: 20px;
}

.happy__name {
  max-width: 500px;
  width: 100%;
  height: 150px;
  background-color: #feffd6;
  border-radius: 10px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  padding: 0 20px;
}

.happy__button-repeat, .happy__button-exit {
  max-width: 500px;
  width: 100%;
  background-color: #fafc9f;
  padding: 10px 10px;
  border-radius: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 20px;
}

.happy__button-repeat:hover, .happy__button-exit:hover {
  background-color: #fafad7;
}

.block-opacity {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.block-remove-opacity {
  opacity: 1;
  visibility: visible;
}

.mute {
  pointer-events: none;
}

.condition__color {
  background-color: #e21d1d;
}
