@import url(https://fonts.googleapis.com/css?family=Inter:regular,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:regular,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.item__icon-inst, .item__icon-face, .item__icon-twit, .item__icon-pinter {
  width: 32px;
  height: 32px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #ffffff;
}

.item__icon-inst:hover, .item__icon-face:hover, .item__icon-twit:hover, .item__icon-pinter:hover {
  fill: #bdae82;
}

body {
  font-family: Inter;
  background-color: #000;
}

body.lock {
  overflow: hidden;
}

@media (max-width: 768px) {
  body.lock::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000001;
    opacity: 0.5;
    z-index: 2;
  }
}

.wrapper {
  overflow: hidden;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  margin: 0px auto;
  color: #ffffff;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 64px 0 60px;
  }
}

@media (max-width: 700px) {
  .container {
    padding: 0 20px;
  }
}

.btn-link {
  font-size: 20px;
  color: #000;
  min-height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #bdae82;
  padding: 7px 0px;
  max-width: 220px;
  min-width: 220px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-link:hover {
  color: #ffffff;
}

.title-gold {
  text-align: center;
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
  max-width: 700px;
  margin: 0px auto;
  position: relative;
}

@media (max-width: 768px) {
  .title-gold {
    max-width: 364px;
  }
}

@media (max-width: 768px) {
  .title-gold {
    background-image: linear-gradient(to top, #000 22px, #bdae82 22px, #bdae82 24px, #000 24px);
  }
}

.title-gold h2 {
  max-width: 150px;
  margin: 0px auto;
  padding: 0 10px;
  background-color: #000;
  font-size: 40px;
  line-height: 2;
  font-weight: bold;
  color: #bdae82;
  font-family: Merriweather;
}

@media (max-width: 768px) {
  .title-gold h2 {
    font-size: 32px;
    line-height: 1.4;
    max-width: 130px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90px;
}

.header__logo {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .header__logo {
    margin-right: auto;
  }
}

.header__logo.back {
  opacity: 0.5;
  pointer-events: none;
}

.header__logo-icon {
  max-width: 50px;
  max-height: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #ffffff;
}

.header__logo-icon:hover {
  fill: #bdae82;
}

.header__icon {
  display: none;
}

.header__icon.active span {
  -webkit-transform: scale(0) translate(0px, 50%);
          transform: scale(0) translate(0px, 50%);
}

.header__icon.active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}

.header__icon.active::after {
  top: 50%;
  -webkit-transform: rotate(45deg) translate(0px, -50%);
          transform: rotate(45deg) translate(0px, -50%);
}

@media (max-width: 768px) {
  .header__icon {
    z-index: 10;
    display: block;
    position: relative;
    width: 50px;
    height: 28px;
    cursor: pointer;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 20px;
  }
}

.header__icon::before {
  content: "";
  right: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #ffffff;
  top: 0;
}

.header__icon::after {
  content: "";
  right: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #ffffff;
  bottom: 0;
}

.header__icon span {
  top: 40%;
  -webkit-transform: scale(1) translate(0px, 50%);
          transform: scale(1) translate(0px, 50%);
  right: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #ffffff;
}

.header__nav {
  margin-left: auto;
}

@media (max-width: 768px) {
  .header__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80.75%;
    height: 100%;
    background: black;
    -webkit-transition: right 0.5s ease 0s;
    transition: right 0.5s ease 0s;
    overflow: auto;
  }
}

@media (max-width: 768px) and (max-width: 500px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__nav.active {
  right: 0;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .header__nav-list {
    padding: 134px 30px 0 127px;
    display: block;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (max-width: 500px) {
  .header__nav-list {
    padding: 134px 20px 0 20px;
  }
}

@media (max-width: 768px) {
  .header__nav-list li {
    margin-bottom: 16px;
  }
}

.header__nav-link {
  font-size: 20px;
  line-height: 2.5;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: 30px;
}

@media (min-width: 769px) {
  .header__nav-link:hover {
    color: #bdae82;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .header__nav-link {
    line-height: 2.08;
    font-size: 35px;
    margin-left: 0px;
    font-size: 50px;
  }
}

@media (max-width: 768px) and (max-width: 1400px) {
  .header__nav-link {
    font-size: calc(24px + 26 * ((100vw - 320px) / 1080));
  }
}

.header__buttons-lang {
  margin-left: 30px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}

.header__buttons-lang span {
  margin: 0 0px 0 4px;
}

.header__lang {
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__lang:hover {
  color: #bdae82;
  cursor: pointer;
}

.header__lang:focus {
  color: #bdae82;
}

.header__lang.active {
  color: #bdae82;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.hero__main-screen {
  padding-top: 63.2%;
}

@media (max-width: 768px) {
  .hero__main-screen {
    padding-top: 76.824%;
  }
}

@media (max-width: 768px) and (max-width: 550px) {
  .hero__main-screen:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.377);
  }
}

.hero__main-screen img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .hero__main-screen img {
    -o-object-position: -10%;
       object-position: -10%;
  }
}

@media (max-width: 550px) {
  .hero__main-screen img {
    -o-object-position: center;
       object-position: center;
  }
}

.hero__block {
  position: relative;
  z-index: 100;
  padding: 85px 20px 160px 80px;
  max-width: 570px;
}

.hero__block *:last-child {
  margin-bottom: 0;
}

@media (max-width: 1400px) {
  .hero__block {
    padding: 160px 20px 160px 80px;
  }
}

@media (max-width: 768px) {
  .hero__block {
    padding: 170px 20px 152px 60px;
    max-width: 500px;
  }
}

@media (max-width: 500px) {
  .hero__block {
    padding: 170px 20px 152px 20px;
  }
}

.hero__title {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 60px;
  line-height: 2;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .hero__title {
    font-size: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .hero__title {
    font-size: calc(32px + 28 * ((100vw - 768px) / 632));
  }
}

@media (max-width: 768px) {
  .hero__title {
    line-height: 2;
    letter-spacing: 1.1px;
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 32px;
  }
}

@media (max-width: 768px) and (max-width: 1400px) {
  .hero__title {
    font-size: calc(28px + 4 * ((100vw - 320px) / 1080));
  }
}

.hero__subtitle {
  font-size: 20px;
  line-height: 2;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .hero__subtitle {
    line-height: 1.2;
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .hero__button {
    padding: 0px 0 0 0;
  }
}

.skills {
  padding: 100px 0 10px 0;
}

.skills__title {
  margin-bottom: 60px;
}

.skills__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23%;
          flex: 0 1 23%;
}

@media (max-width: 1080px) {
  .skills__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
  }
}

@media (max-width: 768px) {
  .skills__column {
    margin-bottom: 36px;
  }
}

@media (max-width: 716px) {
  .skills__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.skills__item {
  text-align: center;
  height: 100%;
  padding: 0 20px 40px 20px;
  max-width: 320px;
}

@media (max-width: 1080px) {
  .skills__item {
    padding: 0 10px 40px 10px;
    max-width: 300px;
  }
}

.skills__icon {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .skills__icon {
    margin-bottom: 30px;
  }
}

.skills__item-title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 2;
  font-weight: bold;
}

.skills__item-subtitle {
  font-size: 18px;
  line-height: 2;
}

@media (max-width: 768px) {
  .skills__item-subtitle {
    line-height: 1.2;
  }
}

.portfolio {
  padding: 60px 0 0 0;
}

@media (max-width: 768px) {
  .portfolio {
    padding: 94px 0 0 0;
  }
}

.portfolio__title {
  margin-bottom: 60px;
}

.portfolio__title h2 {
  max-width: 230px;
}

@media (max-width: 768px) {
  .portfolio__title h2 {
    max-width: 185px;
    margin-bottom: 65px;
  }
}

.portfolio__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 60px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__btn-link {
  margin-bottom: 5px;
  background: #000;
  color: #bdae82;
  border: 2px solid #bdae82;
}

.portfolio__btn-link.active {
  background: #bdae82;
  color: #000;
}

.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -12px;
}

.portfolio__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 12px;
  margin-bottom: 25px;
}

@media (max-width: 950px) {
  .portfolio__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 768px) {
  .portfolio__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }
}

.portfolio__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 123.7%;
  position: relative;
}

@media (max-width: 768px) {
  .portfolio__item {
    max-width: 450px;
    margin: 0 auto;
    padding-top: 87%;
    min-height: 60vh;
  }
}

.portfolio__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio__item img:hover {
  -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
}

.video {
  padding: 70px 20px 0 20px;
}

@media (max-width: 768px) {
  .video {
    padding: 70px 20px 0 20px;
  }
}

.video__title {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .video__title {
    margin-bottom: 65px;
    padding: 0 20px;
  }
}

.video__player {
  padding-top: 50.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 768px) {
  .video__player {
    padding-top: 57.5%;
    margin: 0 -20px;
    min-height: 35vh;
  }
}

.video__player img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .video__player img {
    -o-object-position: -6px;
       object-position: -6px;
  }
}

.video__btn-player {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  background: transparent;
}

.video__icon {
  max-width: 130px;
  max-height: 130px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #ffffff;
}

.video__icon:hover {
  fill: #bdae82;
  -webkit-transform: scale(0.89);
          transform: scale(0.89);
}

@media (max-width: 768px) {
  .video__icon {
    max-width: 64px;
    max-height: 64px;
  }
}

.price {
  padding: 100px 0 0px 0;
}

.price__title {
  margin-bottom: 58px;
}

@media (max-width: 768px) {
  .price__title {
    margin-bottom: 67px;
  }
}

.price__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -12.5px;
}

.price__column {
  padding: 0 12.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .price__column {
    margin-bottom: 50px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 768px) {
  .price__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 445px;
  }
}

.item-price {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 3px solid #bdae82;
  padding: 40px 10px;
}

.item-price *:last-child {
  margin-bottom: 0;
}

.item-price__name {
  font-family: Merriweather;
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 2;
  font-weight: bold;
}

.item-price__price {
  font-family: Merriweather;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 2;
  color: #bdae82;
  font-weight: bold;
}

.item-price__list {
  margin-bottom: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 18px;
  line-height: 2;
}

.contacts {
  padding: 100px 0 0 0;
}

@media (max-width: 768px) {
  .contacts {
    padding: 30px 0 0 0;
  }
}

.contacts__container {
  position: relative;
}

@media (max-width: 768px) {
  .contacts__container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.479);
  }
}

.contacts__container *:last-child {
  margin-bottom: 0;
}

.contacts__title {
  font-family: Merriweather;
  color: #bdae82;
  font-size: 40px;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .contacts__title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 37px;
  }
}

.contacts__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts__form-column {
  padding: 60px 20px 195px 20px;
  margin-left: auto;
  position: relative;
  z-index: 3231;
  width: 100%;
  max-width: 490px;
}

@media (max-width: 768px) {
  .contacts__form-column {
    margin: 0px auto;
    padding: 60px 20px 111px 20px;
  }
}

.form *:not(:last-child) {
  margin-bottom: 17px;
}

.form ::-webkit-input-placeholder {
  color: #bdae82;
  font-family: Inter;
  font-size: 20px;
  line-height: 2;
}

.form :-ms-input-placeholder {
  color: #bdae82;
  font-family: Inter;
  font-size: 20px;
  line-height: 2;
}

.form ::-ms-input-placeholder {
  color: #bdae82;
  font-family: Inter;
  font-size: 20px;
  line-height: 2;
}

.form ::placeholder {
  color: #bdae82;
  font-family: Inter;
  font-size: 20px;
  line-height: 2;
}

.form__line input {
  min-height: 50px;
  padding: 5px 0px 5px 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  width: 100%;
  color: #bdae82;
  font-size: 20px;
  line-height: 2;
}

.form__area textarea {
  background: rgba(0, 0, 0, 0.5);
  min-height: 100px;
  padding: 5px 0px 0px 20px;
  border: 2px solid #bdae82;
  resize: none;
  width: 100%;
  color: #bdae82;
  font-size: 20px;
  line-height: 2;
}

.form__button {
  padding: 11px 0 0 0;
}

@media (max-width: 768px) {
  .form__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer {
  padding: 60px 0;
}

@media (max-width: 768px) {
  .footer {
    padding: 30px 0;
  }
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item *:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.item__data {
  font-size: 20px;
}

.item__data *:not(:last-child) {
  margin-right: 16px;
}

@media (max-width: 768px) {
  .item__data {
    margin-bottom: 16px;
  }
}

.item__git {
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.item__git:hover {
  color: #bdae82;
}

.item__text {
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.item__text:hover {
  color: #bdae82;
}

@media (max-width: 768px) {
  .item__text {
    margin-bottom: 30px;
  }
}

.item__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__social-list *:not(:first-child) {
  margin-left: 20px;
}
